<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/app.css">
    <style type="text/css">
     html, body {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        body:after {
            font-size: 30px;
            line-height: 140px;
            text-align: center;
            color: rgb(60, 16, 11);
            background: rgba(255, 255, 255, 0.6);
            position: absolute;
            top: 50%;
            left: 50%;
            width: 400px;
            height: 140px;
            margin-left: -200px;
            margin-top: -70px;
            border-radius: 5px;
        }
        body.before-game:after {
            content: 'press "z" to start';
        }
        body.lose-game:after {
            content: 'press "z" to try again';
        }
        body.win-game:after {
            content: 'Win! press "z" to play again';
        }
        /* spaceship from: http://millionthvector.blogspot.ca/p/free-sprites.html */
        /* starfield from: http://gamedevtuts.s3.amazonaws.com/043_freeShmupSprites/Free_Shmup_Sprites_Starfield.png */
        body {
            //background: url(images/starfield.png) 0 0 repeat;
        }
    </style>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  <body>
    <a href="#" class="btn btn-primary">Take Picture</a>
  </body>
</html>
