html, body {
    margin: 0;
    padding: 0;
}

#progressbar {
	position: absolute;
	width: 50%;
	height: 20px;
	top: 50px;
	right: 0;
	left: 0;
	margin: auto;
}

canvas {
    display: block;
    margin: auto;
	background: url(../img/starfield.png);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid white;
}

.wrapper {
    width: 512px;
    margin: 0 auto;
    margin-top: 2em;
}

#instructions {
    float: left;
    font-family: sans-serif;
    color: #757575;
}

#floating-score {
	position: absolute;
	right: 100px;
	top:20px;	
	color: white;
	font-size: 1.2em;
	font-style: bold;
}

#score {
    float: right;
    color: white;
    font-size: 2em;
}

.key {
    color: #aaffdd;
}

#game-over {
    height: 200px;
    text-align: center;
    color: white;
}

#game-over h1 {
    font-size: 3em;
    font-family: sans-serif;
}

#game-over button {
    font-size: 1.5em;
}

#tiled-image-overlay {
	margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    width: 100%;
    background-color: #151515;
    text-align: center;
}

#game-start-overlay {
	background-color: #EEEEEE;
    position: relative;
    z-index: 2;
    width: 75%;
    height: 90%;
    text-align: center;
    border-radius:30px;
}

#game-start-overlay .col-md-6.column {
	margin: 0 20px;
	width: 45%;
}

#active-item {
	text-align: center;
	margin: 50px;
}
