html, body {
    margin: 0;
    padding: 0;
}

.bird {
	background: url('imgs/bird_sheet.png') no-repeat -520px -115px;
	width: 45px;
	height: 44px;
}

.bird1 {
	background: url('imgs/bird_sheet.png') no-repeat -521px -303px;
	width: 45px;
	height: 43px;
}

.bird2 {
	background: url('imgs/bird_sheet.png') no-repeat -521px -209px;
	width: 45px;
	height: 44px;
}

canvas {
    display: block;
    margin: auto;
	background: url(../img/starfield.png);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid white;
}

.progress.vertical {
    position: absolute;
    width: 20px;
    min-height: 400px;
    margin: auto;
    left: 100px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

.wrapper {
    width: 512px;
    margin: 0 auto;
    margin-top: 2em;
}

#instructions {
    float: left;
    font-family: sans-serif;
    color: #757575;
}

#floating-score {
	position: absolute;
	right: 100px;
	top:20px;	
	color: white;
	font-size: 1.2em;
	font-style: bold;
}

#score {
    float: right;
    color: white;
    font-size: 2em;
}

.key {
    color: #aaffdd;
}

#game-over, #game-over-overlay {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .5;
}

#game-over {
    height: 200px;
    text-align: center;
    color: white;
}

#game-over h1 {
    font-size: 3em;
    font-family: sans-serif;
}

#game-over button {
    font-size: 1.5em;
}

#tiled-image-overlay {
	margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    width: 100%;
    background-color: #151515;
    text-align: center;
}

#game-start-overlay {
	background-color: #EEEEEE;
    position: relative;
    z-index: 2;
    width: 75%;
    height: 90%;
    text-align: center;
    border-radius:30px;
}

#active-item {
	text-align: center;
	margin: 50px;
}
